
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~select2/dist/css/select2.min.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.lup-custom-file-label::after {
  content: '' !important;
  background-color: transparent !important;
  border-left: transparent !important;
}

.text-indigo {
    color: var(--indigo);
}

.text-pink {
    color: var(--pink);
}

.text-orange {
    color: var(--orange);
}

.border-color-light {
  border-color: #f1f1f1 !important;
}

.custom-shadow-sm {
  box-shadow: 1px 1px 10px rgba(0,0,0,.15);
}

.project {
  overflow: hidden;
}

.project-thumbnail-container {
  max-height: 220px;
  border-right: 1px solid #f1f1f1;
}

.project-thumbnail {
  width: 100%;
  min-height: 100%;
}

.project-skill {
  height: 18px;
  width: 18px;
  display: inline-block;
  background-size: 20px 20px;
  -webkit-background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.laravel-logo {
  background-image: url("../images/logos/laravel.png");
}

.vuejs-logo {
  background-image: url("../images/logos/vuejs.png");
}

.sass-logo {
  background-image: url("../images/logos/sass.png");
}

.stripe-logo {
  background-image: url("../images/logos/stripe.png");
}

.docker-logo {
  background-image: url("../images/logos/docker.png");
}

.wordpress-logo {
  background-image: url("../images/logos/wordpress.png");
}

.woocommerce-logo {
  background-image: url("../images/logos/woocommerce.png");
}

.bootstrap-logo {
  background-image: url("../images/logos/bootstrap.png");
}

.bem-logo {
  background-image: url("../images/logos/bem.png");
}
